
<nz-layout class="layout">
  <nz-header>
    <img class="logo" src="assets/_logo.png" alt="logo" routerLink="/">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/">Inicio</li>
      <li nz-menu-item routerLink="/movies">Peliculas</li>
      <li nz-menu-item routerLink="/cinemas">Cines </li>
      
      <li nz-menu-item routerLink="/contac">Contactanos </li>
      <!-- <li nz-menu-item routerLink="/maps">Ubicaciones</li> -->
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>

    <div class="inner-content">
      <router-outlet>
      </router-outlet>
    </div>
  </nz-content>
  <nz-footer>Yavicinema.©2023</nz-footer>
</nz-layout>
